nav .logo {
  text-align: center;
  float: none;
}

nav ul {
  margin-bottom: 10px;
}

nav ul,
nav li {
  float: none;
}

nav li a {
  padding: 10px;
  border-bottom: 1px dotted #555;
}

#jumbotron {
  padding-top: 30px;
  padding-bottom: 20px;
}

#jumbotron h1 {
  font-size: 40px;
  line-height: 1.5em;
  padding-top: 10px;
}

/* desc  */
.desc-img {
  display: none;
}
.desc-content {
  float: none;
  width: 100%;
  text-align: center;
}

/* boxes */
.feature {
  float: none;
  width: 100%;
}

/* about */

#about-info .info-left,
#about-info .info-right {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}

#contact-form .btn {
  margin: auto;
  text-align: center;
  width: 30vw;
}

#about-info .info-right {
  margin-top: 30px;
}

#contact-info .feature {
  padding: 30px;
  border-bottom: 1px dotted #444;
}
