* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* utilties class */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  overflow: auto;
}

.span-color {
  color: #f7c08a;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 13px 18px;
  font-size: 18px;
  color: #fff;
  background: #333;
  border: none;
  cursor: pointer;
}
.btn-light {
  background: #eee;
  color: #333;
}

.btn:hover {
  background: #f7c08a;
  color: black;
}

.bg-dark {
  background-color: #333;
  color: white;
}

.bg-light {
  background-color: #fff;
  color: #333;
}

.bg-primary {
  background-color: #f7c08a;
  color: #333;
}

.l-heading {
  font-size: 40px;
}

.clr {
  clear: both;
}

/* padding */

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* navbar */

nav {
  background: #333;
  overflow: auto;
  text-align: center;
  /* so that background doesn't collapsse  */
  /* line-height: 4.5; */
}

nav a {
  color: white;
}

nav .logo {
  padding: 15px;
  float: left;
}

nav ul {
  list-style: none;
  float: right;
}

nav li {
  /* display: inline-block; */
  float: left; /*(can be used instead of inline block) */
  /* padding: 15px; */
}

nav li a {
  display: block;
  padding: 22px;
  text-align: center;
}

nav li a:hover,
nav li a.current /*makes more specific than a .current*/ {
  background: #444;
  color: rgb(248, 193, 144);
}

/* jumbotron */
#jumbotron {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 90vh;
  color: white;
  text-align: center;
  padding-top: 170px;
}
#jumbotron h1 {
  font-size: 60px;
  line-height: 2em;
}

#jumbotron p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Description */
#desc {
  height: 450px;
}

.desc-img {
  float: left;
  width: 50%;
  background: url("../img/photo-1.jpg") no-repeat center center/cover;
  min-height: 100%;
}

.desc-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 40px 30px;
  overflow: hidden;
}

#desc p {
  margin-bottom: 30px;
}

/* Features */
.feature {
  float: left;
  width: 33.3%;
  padding: 40px;
  text-align: center;
}

/* About */
#about-info .info-left {
  float: left;
  width: 50%;
}
#about-info .info-right {
  float: right;
  width: 50%;
}
#about-info .info-right img {
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 50%;
}

#testimonials {
  height: 600px;
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  border-radius: 5px;
}

#testimonials h2 {
  color: white;
  text-align: center;
  margin-top: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* contact form */

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c084;
}

/* footer */
footer {
  background-color: #444;
  text-align: center;
  color: white;
  padding: 20px;
}
