@import url("https://fonts.googleapis.com/css2?family=Roberto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #93cb52;
}

body {
  font-family: "Roberto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.7rem;
}

/* Utilites */

.text-primary {
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}

.bg-light {
  background: #f4f4f4;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  border: none;
  /* if we add this class to button  */
  border-radius: 5px;
}

.btn:hover {
  background: #7ab436;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* navbar */

#navbar {
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

#navbar ul li a {
  padding: 0.75rem;
  margin: 0 0.25rem;
  color: #fff;
}

#navbar ul li a:hover {
  background: var(--primary-color);
  border-radius: 5px;
}

/* showcase */
#showcase {
  background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  position: relative;
  /* content is made abs */
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;

  /* overlay */
  position: absolute;
  /* so that offset can be set in parent container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: What we do  */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  /* flex: 1; */
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
